body {
  background-color: rgb(32, 35, 38);
  color: white;
  padding: 2%;
 }
 
 
 .container {
  overflow: hidden;
 }
 
 
 ::-webkit-scrollbar {
  width: 0;
  background: transparent;
 }
 
 
 
 
 .top-screen {
  display: flex;
 }
 
 
 .logo {
  flex: 1;
  font-size: 50px;
  background: linear-gradient(to right, #e20b8c, #f84b00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
 }
 
 
 .help-id {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 
 
  font-size: 14px;
  text-align: right;
  color: #f8005f;
  padding-bottom: 5px;
  padding-right: 10px;
 }
 
 
 
 
 
 
 .blackbox {
  display: flex;
  padding: 50px;
  background-color: rgb(17, 19, 22);
  height: 500px;
 }
 
 
 .command-line {
  display: block;
  width: 800px;
  overflow-y: auto;
  padding-bottom: 75px;
 }
 
 
 .input_text[type='text'] {
  background-color: transparent;
  color: green;
  caret-color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  width: 90%;
  border: none;
  outline: none;
 }
 
 
 .output_text[type='text'] {
  color: rgb(172, 50, 181);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  border: none;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
 }
 
 
 .response_box {
  margin-top: 10px;
  border: 1px solid green;
  position: relative;
 }
 
 
 @keyframes blink { 50% { opacity: 0.1; } }
 .blinking {
  animation: blink 1s infinite;
  font-size: 25px;
  font-weight: bold;
  padding-right: 10px;
 }
 
