body {
  background-color: rgb(25, 28, 31);
  color: white;
}

.command-line {
  width: 70vw;
  height: 20vw;
  padding: 30px;
  
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(17, 19, 22);
  z-index: 10;
}

.command-line span{
  margin-right: 5px;
  font-size: 30px;
}

.command-line input[type='text'] {
  background-color: transparent;
  color: green;
  caret-color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  width: 90%;
  border: none;
  outline: none;
}

.container {
  overflow-y: auto;
}

.box {
  width: 100px;
  height: 100px;
  color: red;
  margin-top: 10px;
  z-index: 9999;
  position: relative;
  box-shadow: 0px 0px 10px var(--clr-gray-med);
}

